In [36]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model


df = pd.read_csv('homeprices2.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [50]:
# it's best to calculate the mean of the bedrooms and then use it to fill in as the value of NAN
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [51]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [66]:
# create a linear regresiion object
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']], df.price)

LinearRegression()

In [67]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [68]:
reg.intercept_

221323.00186540408

In [77]:
# given these homes prices, find out prices of a home that has; 3000 sqr ft, 3 bedrooms, 40 years old and 2500 sqr ft, 4 bedrooms, 5 year old
reg.predict([[3000,3,40]])

array([498408.25158031])

In [72]:
# We can also use the equation y = m1x1 + m2x2 + m3x3 + b to get the price predictions 
112.06244194*3000+23388.88007794*3+-3231.71790863*40+221323.00186540408

498408.2515740241

In [76]:
reg.predict([[2500,4,5]])

array([578876.03748933])

In [78]:
112.06244194*2500+23388.88007794*4+-3231.71790863*5+221323.00186540408

578876.0374840142